@use "./variables" as *;

.text-center {
  text-align: center;
}

.box-shadow-none {
  box-shadow: none;
}

.text-decoration-none {
  text-decoration: none;
}

.align-self-stretch {
  align-self: stretch;
}

.engagement {
  background: var(--background-alt-grey);

  h2 {
    background: linear-gradient(
      84.59deg,
      var(--background-active-blue-france) 16.74%,
      var(--border-action-low-blue-ecume) 155.91%
    );
    color: white;
    text-align: center;
  }
}

