@use "./variables" as *;

.button-rounded {
  border-radius: 25px;
}

.text-center {
  text-align: center;
}

.box-shadow-none {
  box-shadow: none;
}

.text-decoration-none {
  text-decoration: none;
}

.align-self-stretch {
  align-self: stretch;
}

.infography {
  border: 1px solid rgba(63, 61, 86, 0.2);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 6%) 0px 4px 4px;
}
