@use "./variables" as *;

.text-center {
  text-align: center;
}

.box-shadow-none {
  box-shadow: none;
}

.text-decoration-none {
  text-decoration: none;
}

.align-self-stretch {
  align-self: stretch;
}

.engagement {
  background: var(--background-alt-grey);

  h2 {
    background: $france-relance;
    color: white;
    text-align: center;
  }
}

.faq {
  p {
    padding-left: 1.5rem;
  }
}

.responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.news {
  background: rgb(238, 238, 238);
  padding-top: 10px;
  padding-bottom: 10px;
  .fr-container {
    max-width: 800px;
    width: 100%;
    background: white;
    padding-bottom: 10px;
  }
}
