@use "./variables" as *;

.hero-banner {
  button {
    border-radius: 25px;
    width: 20rem;
    justify-content: center;
    border: 2px solid white;
    height: 3rem;
    font-size: medium;
    background-color: white;
    color: $france-relance;
    &:hover {
      background-color: $france-relance;
      color: white;
    }
  }

  h1 {
    color: white;
  }

  .background-image {
    position: absolute;
    right: 0px;
    overflow: hidden;
    width: 50%;
    height: 100%;

    @media (max-width: 62rem) {
      display: none;
    }

    img {
      position: absolute;
      inset: 0px;
      box-sizing: border-box;
      padding: 0px;
      border: none;
      margin: auto;
      display: block;
      width: 0px;
      height: 0px;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
      object-fit: cover;
      filter: none;
      background-size: cover;
      background-image: none;
      background-position: 0% 0%;
    }
  }

  .wrapper {
    position: relative;
    min-height: 12rem;
    background-color: $france-relance;
  }

  .content {
    background: $france-relance;
    color: white;

    @media (max-width: 62rem) {
      text-align: center;
    }
  }
}
