@use "./variables" as *;

.hero-banner {
  button {
    width: 13rem;
    justify-content: center;
    height: 3rem;
    margin: 0.5rem;
  }

  a {
    color: transparent;
  }

  h1 {
    font-weight: 700 !important;
    margin-bottom: 0.5rem;
    font-size: 3rem !important;
    line-height: 3.5rem !important;
  }

  p {
    margin-bottom: 0.5rem;
  }

  .background-image {
    position: absolute;
    right: 0px;
    overflow: hidden;
    width: 50%;
    height: 100%;

    @media (max-width: 62rem) {
      display: none;
    }

    img {
      position: absolute;
      inset: 0px;
      box-sizing: border-box;
      padding: 0px;
      border: none;
      margin: auto;
      display: block;
      width: 0px;
      height: 0px;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
      object-fit: cover;
      filter: none;
      background-size: cover;
      background-image: none;
      background-position: 0% 0%;
    }
  }
}

.hero-banner__wrapper {
  position: relative;
  min-height: 12rem;
  background-color: $grey-975;
}

.hero-banner__content {
  background: $grey-975;

  @media (max-width: 62rem) {
    text-align: center;
  }
}
