@use "./variables" as *;

.hero-banner {
  button {
    border-radius: 25px;
    width: 19rem;
    justify-content: center;
    border: 2px solid white;
  }

  .first-button {
    background-color: white;
    color: var(--background-active-blue-france);
  }

  .second-button {
    background-color: transparent;
  }

  h1 {
    color: white;
  }

  .background-image {
    position: absolute;
    right: 0px;
    overflow: hidden;
    width: 70%;
    height: 100%;
    filter: brightness(60%);

    @media (max-width: 62rem) {
      display: none;
    }

    img {
      position: absolute;
      inset: 0px;
      box-sizing: border-box;
      padding: 0px;
      border: none;
      margin: auto;
      display: block;
      width: 0px;
      height: 0px;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
      object-fit: cover;
      filter: none;
      background-size: cover;
      background-image: none;
      background-position: 0% 0%;
    }
  }

  .wrapper {
    position: relative;
    min-height: 12rem;
    background-color: var(--background-active-blue-france);
  }

  .content {
    background: linear-gradient(
      84.59deg,
      var(--background-active-blue-france) 16.74%,
      var(--border-action-low-blue-ecume) 155.91%
    );
    color: white;
    clip-path: polygon(60 % 0%, 0% 0%, 0% 100%, 34% 100%);

    @media (max-width: 62rem) {
      text-align: center;
      clip-path: unset;
    }
  }
}
