@use "./variables" as *;

.infography {
  h2 {
    justify-content: center;
  }

  .block {
    border: 1px solid rgba(63, 61, 86, 0.2);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 6%) 0px 4px 4px;

    p {
      margin: 0px;
      text-align: center;
    }

    img {
      height: 174px;
    }
  }

  .emphasis {
    color: $france-relance;
    text-align: center;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
