@use "./variables" as *;

.news {
  background: rgb(238, 238, 238);
  padding-top: 10px;
  padding-bottom: 10px;

  .fr-container {
    max-width: 800px;
    width: 100%;
    background: white;
    padding-bottom: 10px;
  }

  h1 {
    color: $france-relance;
  }

  h2 {
    color: $france-relance;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0.8rem;
  }

  a {
    color: $france-relance;
  }
}
